# PATH
export PATH=$PATH:$HOME/.local/bin
export NVM_DIR=$HOME/.config/nvm
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

export TERMINAL="kitty"
export BROWSER="firefox"
export EDITOR="nvim"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Execute Remap Script
sh remaps &

ibus-daemon -drxR &
export GLFW_IM_MODULE=ibus
