//@theme "/home/derrick/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/home/derrick/.local/share/rofi/themes/squared-nord.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
